# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
ENV/

# IDE
.idea/
.vscode/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
models/
*.pkl 